#header{
  display : flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 20px 0px;
}

.restaurant-thumbnail{
  height: 180px;
}

.cols{
  height: 380px;
  width: 300px;
}

.col{
  height: 300px;
  width: 250px;
}

.inner-container{
  align-items: center;
}

.card-body{
  height: 100px;
}

.top-rated-restaurant{
  color: rgb(83, 215, 83);
}

.avg-rated-restaurant{
  color: rgb(243, 243, 76);
}

.poor-rated-restaurant{
  color: rgb(245, 24, 24);
}

.search-bar{
  border-radius: 5px;
}

a{
  text-decoration: none;
}

.acordion-header{
  border-radius: 2px;
}

.cont-bottom{
  display: flex;
  justify-content: space-around;
}